/*
 *= require_tree .
 *= require_self
 */

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ui {
    width: 100%;
    height: 100%;
    white-space: pre;
    font-family: Monaco, monospace;
    font-size: 9pt;
}

#ui .sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #000;
    color: #cfcfcf;
    border-left: 5px solid #2c3139;
    padding-left: 12px;
    padding-right: 12px;
}

#ui .sidebar .state {
    display: 0 1 auto;
}

#ui .sidebar .state > div label {
    display: inline-block;
    width: 75px;
}

#ui .sidebar .body-list {
    display: 1 1 auto;
    overflow-y: auto;
}

#ui .sidebar ul {
    padding-left: 8px;
    list-style-type: none;
}

#ui .sidebar ul li {
    padding-top: 3px;
    padding-bottom: 3px;
}

#ui .sidebar ul li.focused {
    background-color: #222222;
}

#ui .sidebar ul li.indent-0 strong {
    padding-left: 8px;      
}

#ui .sidebar ul li.indent-1 strong {
    padding-left: 16px;
}

#ui .sidebar ul li.indent-2 strong {
    padding-left: 28px;
}

#ui .buttons {
    position: absolute;
    top: 150px;
    right: 4px;
    z-index: 99;
}

#ui .buttons .button {
    padding: 4px;
    cursor: pointer;
    color: #cfcfcf;
    background-color: #8a94a1; /* top */
//    background-color: #515b67; /* bottom */
    border-radius: 5px;
    border: 1px solid #777;
    margin-bottom: 4px;
    width: 20px;
    height: 20px;
}

#ui .buttons .button.selected {
//    background-color: #3c4249; /* top */
    background-color: #22262c; /* bottom */
}

#ui .info-panel {
    position: absolute;
    top: 150px;
    right: 40px;
    white-space: normal;
    text-align: justify;
    width: 300px;
    background-color: #1b1d1f;
    color: #cfcfcf;
    border-radius: 5px;
    border: 1px solid #777;
}


#ui .info-panel h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 4px;
    font-size: 1em;
//    background-color: #2ae678; /* top */
    background-color: #1faa59; /* bottom */
    color: #fff;
}

#ui .info-panel h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 4px;
    font-size: 1em;
//    background-color: #8a94a1; /* top */
    background-color: #515b67; /* bottom */
    color: #fff;
}

#ui .info-panel .description {
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    max-height: 285px;
    overflow-y: auto;
}

#ui .info-panel .description p:first-child {
    margin-top: 0px;
}

#ui .info-panel .description p a {
    color: #cfcfcf;
}

#ui .body-tooltip {
    position: absolute;
    color: yellow;
    font-family: monospace;
    font-weight: bold;
    z-index: 99;
}
