<!DOCTYPE html>
<html>
  <head>
    <title>TrackingStation</title>
    <link rel="stylesheet" media="all" href="index.css" />
  </head>

  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>

    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
